# Sanity
SANITY_STUDIO_PROJECT_ID=your_project_id
SANITY_STUDIO_DATASET=production

# Used by next-app and astro-app to read from Sanity
SANITY_PROJECT_ID=your_project_id
SANITY_DATASET=production

# Used by migration scripts to write to Sanity
SANITY_WRITE_TOKEN=your_write_token
